*.
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
.vscode/
.vs/
appsettings.Development.json
appsettings.Production.json
appsettings.json
secrets.json
*.db
*.sqlite
*.log
packages/
*.nupkg
project.lock.json
.DS_Store
Thumbs.db
publish/
.idea
node_modules
.env
logs